@media(min-width:1200px){
	.try{background-color: #f00;
		 padding:100px;}
}

@media(min-width:600px){
	.try{background-color: #f00;
		 padding:100px;}
}

@media(max-width:480px){
	.try{background-color: #0f0;
	      padding:10px;}
}	