/*Extra Small Screen*/
@media (max-width:767px)	{
		.xs-center-media	{
				text-align:center;
		}
		.sm-center-media	{
				text-align:center;
				text-overflow;
		}
}

/*Small Screen*/
@media (min-width: 768px) and (max-width: 991px)	{
					.sm-dl-compact dt {
						width: 30px;
					}
					.sm-dl-compact dt {
						margin-left:50px;
					}
					.sm-center-media	{
						text-align: center;
					}

}

/*Medium Screen*/
@media (min-width: 992px) and (max-width:1199px)	{
					.sm-dl-compact dt 	{
						width: 50px;
					}
					.sm-dl-compact dd {
						margin-left: 70px;
					}
}

/*Large */
@media (min-width: 1200px) {
					.sm.sm-dl-compact dt 	{
						width: 50px;
					}
					.sm-dl-compact dd	{
						margin-left: 70px;
					}
}	